@using Microsoft.AspNetCore.Identity
@inject SignInManager<Listing.Domain.Identity.UserDetails> SignInManager
@model Listing.Domain.Identity.UserDetails

@{
    ViewData["Title"] = "User Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  
        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Contact)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

            @if (Model.Image != null)
            {
                <td>
                    <img id="ItemPreview" src="@Model.Image.ImageSrc" width="500">
                </td>
            }
            <td>
                <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">
                    Edit your information
                </a>
            </td>
        </tr>
     
    </tbody>
</table>
