@using Microsoft.Extensions.Options
@inject IOptions<Listing.Domain.StripeSettings> Stripe
@model Listing.Domain.Identity.UserRegistrationDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.ValidationSummary()
    <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">


        <div class="row registerdiv">

            <div class="col-sm-12 text-center mb-4">
                <h2>Register</h2>
            </div>

            @*<div class="form-group">
        <label>Choose image profile</label>
        <br />
        <input type="file" name="image" id="image" accept="image/*" />
        </div>*@

            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control" })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.Contact, new { placeholder = "Contact phone", @class = "form-control" })
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.Address, new { placeholder = "Address", @class = "form-control" })
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6 mt-2">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            style="width: 100px"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="Listing Application Payment"
                            data-amount="500"
                            data-label="Pay $5">
                    </script>
                </article>
            </div>
            <br />
            <br />
            <br />
        </div>
    </form>
</div>  