@model Listing.Domain.DTO.AddCommentToListingPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.DateUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Location.City)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.ListingImages)
        </dt>
        @for (int i = 0; i < Model.SelectedListing.ListingImages.Count; i++)
        {
            var item = Model.SelectedListing.ListingImages.ElementAt(i);
            <dd class="col-sm-12">
                <img id="ItemPreview" src="@item.ImageSrc" width="500">
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SelectedListing.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h3>COMMENTS SECTION</h3>
    <ul>
        @for (int i = 0; i < Model.SelectedListing.Comments.Count; i++)
        {
            var item = Model.SelectedListing.Comments.ElementAt(i);
            <li><p>@item.Text</p></li>
            
        }
    </ul>
 
<form asp-action="AddCommentToListing" asp-route-id="@Model.ListingId">
    <div class="form-group">
        @if (@Model.SelectedListing.Comments.Count != 0)
        {
            <p>@Model.SelectedListing.Comments.ElementAt(0).DateCreated</p>
            <h2>@Model.SelectedListing.Comments.ElementAt(0).Text</h2>
        }

        <label asp-for="Comment" class="control-label"></label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ListingId" />
    <div class="form-group">
        <button type="submit" class="btn btn-info">COMMENT</button>
    </div>
</form>

</div>
