@model Listing.Domain.DomainModels.ListingPost

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <h1>@Html.DisplayNameFor(model => model.Title)</h1>
    </div>
    @*<div class="col-md-6 d-flex justify-content-end">
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
        </div>*@
    <div class="col-md-6 d-flex justify-content-end">
        <div class="form-group">
            <a asp-action="Index">Back to home</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <h4 class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </h4>
                    <span class="col-sm-9">
                        @Html.DisplayFor(model => model.Price)
                    </span>

                    <h4 class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Discount)
                    </h4>
                    <span class="col-sm-9">
                        @Html.DisplayFor(model => model.Discount)
                    </span>

                    <h4 class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </h4>
                    <span class="col-sm-9">
                        @Html.DisplayFor(model => model.DateCreated)
                    </span>

                    <h4 class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </h4>
                    <span class="col-sm-9">
                        @Html.DisplayFor(model => model.Category.Name)
                    </span>

                    <h4 class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Location)
                    </h4>
                    <span class="col-sm-9">
                        @Html.DisplayFor(model => model.Location.City)
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <h4>
                    @Html.DisplayNameFor(model => model.Description)
                </h4>
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>

            <div class="col-md-12">
                <div class="row gx-5">
                    @for (int i = 0; i < Model.ListingImages.Count; i++)
                    {
                        var item = Model.ListingImages.ElementAt(i);
                        <div class="col-sm-4 text-center mt-3">
                            <a data-lightbox="image-1" href="@item.ImageSrc" style="width: inherit">
                                <img src="@item.ImageSrc" style="border: 1px solid gray; border-radius: 7px; width: inherit" height="250"/>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

