@model Listing.Domain.DTO.AddCommentToListingPost
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Listing.Domain.Identity.UserDetails> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.DateUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedListing.Location.City)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedListing.ListingImages)
        </dt>
        @for (int i = 0; i < Model.SelectedListing.ListingImages.Count; i++)
        {
            var item = Model.SelectedListing.ListingImages.ElementAt(i);
            <dd class="col-sm-12">
                <img id="ItemPreview" src="@item.ImageSrc" width="500">
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SelectedListing.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h3>COMMENTS SECTION</h3>
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="AddCommentToListing" asp-route-id="@Model.ListingId">
            <div class="input-group mb-3">
                <input type="text" asp-for="Comment" class="form-control" placeholder="Leave a comment" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class=" btn btn-primary" id="basic-addon2">COMMENT</button>
                </div>
            </div>
            <input type="hidden" asp-for="ListingId" />
        </form>
    }

    <ul class="list-group">
        @for (int i = 0; i < Model.SelectedListing.Comments.Count; i++)
        {
            var item = Model.SelectedListing.Comments.ElementAt(i);
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.UserName</h5>
                </div>
                <p class="mb-1">@item.Text</p>
                <small class="text-muted">@item.DateCreated</small>


            </li>

        }
    </ul>



</div>
