@using Microsoft.AspNetCore.Identity
@inject SignInManager<Listing.Domain.Identity.UserDetails> SignInManager
@model Listing.Domain.DomainModels.ListingsWithFilter

@{
    ViewData["Title"] = "Listings";
}


<form asp-action="Index">
    <div class="form-group">
        <label asp-for="SelectedCategory" class="control-label"></label>
        <select asp-for="SelectedCategory" class="form-control" asp-items="ViewBag.Categories">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedLocation" class="control-label"></label>
        <select asp-for="SelectedLocation" class="form-control" asp-items="ViewBag.Locations">
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-10" style="color:grey">
            <label asp-for="Price" class="control-label"></label>
            <div>
                <div class="slidecontainer">
                    <input type="range" min="0" max="20000" class="slider" step="100" id="myRange" value="@Model.Price" oninput="amount.value=myRange.value" onchange="amount.value=myRange.value">
                    <input type="text" id="amount" asp-for="Price" value="@Model.Price" readonly oninput="myRange.value=amount.value" onchange="myRange.value=amount.value">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPosts.ElementAt(0).ListingImages)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListingPosts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            @for (int i = 0; i < item.ListingImages.Count; i++)
            {
                var image = item.ListingImages.ElementAt(i);
                <td class="col-sm-3">
                    <img id="ItemPreview" src="@image.ImageSrc" width="500">
                </td>
            }


            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a class="btn btn-danger" asp-action="AddListingToWishlist" asp-route-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </a>

                </td>
            }
        </tr>
        }
    </tbody>
</table>
