@using Microsoft.Extensions.Options
@model Listing.Domain.DTO.WishlistDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>My wishlist</h2>

    <div class="row">
        @foreach (var item in Model.Listings)
        {
            <div class="col-md-4" style="padding-top: 15px;">
                <div class="card-profile">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < item.Listing.ListingImages.Count; i++)
                            {
                                var image = item.Listing.ListingImages.ElementAt(i);

                                <a data-lightbox="@item.Id" href="@image.ImageSrc" style="width: inherit">
                                    @if (i == 0)
                                    {
                                        <img src="@image.ImageSrc" style="border-radius: 7px 7px 0 0; width: inherit " height="250" />
                                    }
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-header text-center border-0">
                        @item.Listing.Title
                    </div>
                    <div class="card-body description">
                        <p class="desc-text">
                            @item.Listing.Description
                        </p>
                        <div class="row">
                            <div class="col-12 price">
                                Price:
                                <span id="price">
                                    @item.Listing.Price
                                </span> $
                                <br />
                                <p style="margin-bottom: 0">
                                    @item.Listing.Location.City
                                </p>
                                <a class="see-more" asp-action="Details" asp-route-id="@item.ListingId" asp-controller="Listings">
                                    See more details
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

</div>