@model IEnumerable<ListingsAdminApplication.Models.ListingPost>

@{
    ViewData["Title"] = "Listings";
}


<h1>Approved listings</h1>

<form asp-controller="Listings" asp-action="ExportListings">
    <div class="row">
        <input type="date" id="dateExport" name="dateExport"
               min="2022-01-01" max="2023-01-01">
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Export Listings by date" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0; }
        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>