@model IEnumerable<ListingsAdminApplication.Models.ListingNoImage>

@{
    ViewData["Title"] = "Listings";
}


<h3 style="margin-bottom: 30px;">Disapproved posts</h3>

<table class="table mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
               Created
            </th>
            <th>
               Updated
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0; }
        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>

            </tr>
        }
    </tbody>
</table>