@model IEnumerable<ListingsAdminApplication.Models.ListingNoImage>

@{
    ViewData["Title"] = "Listings";
}

<div class="row">
    <div class="col-md-6">
        <h3 style="margin-bottom: 30px;">Pending posts</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    @if (item.Status == "undefined")
                    {
                        <button type="button" class="btn btn-success mb-2" style="background: #29ab87 !important" onclick="ShowModal('@item.Id@item.Id')">
                            Approve
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="@item.Id@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Approve</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to approve this post?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success" style="background:#29ab87" asp-action="Validate" asp-route-id="@item.Id"
                                           asp-route-actionType="approved">Approve</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (item.Status == "undefined")
                    {
                        <button type="button" class="btn btn-danger mb-2" style="background: #e3242b !important" onclick="ShowModal('@item.Id')">
                            Disapprove
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Disapprove</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to disapprove this post?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success" style="background:   #e3242b" asp-action="Validate" asp-route-id="@item.Id"
                                           asp-route-actionType="disapproved">Disapprove</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

@section scripts{
    <script>
        function ShowModal(id) {
            var call = "#" + id;
            $(call).modal('toggle');
        };
    </script>

}